.rounded-circle{
    width: 150px;
    height: 150px;
}

.nav-link{
    color: white !important;
}

.details-table {
    border: 2px groove #ff4136;
    border-radius: 5px;
}

#about{
    background-color: #162447;
    color:white;
}

#skills{
    background-color: cornflowerblue;
    color:white;
}

#education{
    background-color: #162447;
}

#awards{
    background-color: cornflowerblue;
    color:white;
}

#footer{
    background-color: black;
    color: white;
}

.jumbotron{
    margin-bottom: 0%;
}

.card-body{
    background-color: lightgray;
}

.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: auto;
  display: block;
}

.testimonial-heading{
    text-align: center;
    color: red;
}

.testimonial-description{
    text-align: center;
    color: lightgray;
    font-size: 18px;
}

.testimonial-year{
    text-align: center;
    color: #ff4136;
}

